/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	margin: 0;
}

.container {
	margin: auto;
	width: 775px;
}

.container h1{
	text-align: left;
	display:inline-block;
	height:8px;
	font-size:20px;
	font-family: Arial,sans-serif;
	padding-bottom:10px;
}


.clear {
	clear: both;
}

.shields{
	height:120px;
	background-color:lightskyblue;
	padding-top: 15px;
	padding-left: 15px;

}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: sans-serif;
}

.sfooter-content {
	flex: 1 0 auto;
}

/********************************************
* Your CSS rules go down here
********************************************/

header{
	background-color:lightskyblue;
	width:100%;

}

.instructions{
	border: 3px solid lightgrey;
	margin-top: 20px;
	font-size: 10px;
	padding-left:20px;
	padding-right:10px;
	padding-top:13px;
	height:120px;
	font-size:11px;

}



.pull-left{
	float:left;
	margin-right: 15px;
	border: 3px solid lightgrey;
	height: 200px;
	width: auto;
}

.pull-right{
	float:right;
	height: 80px;
	width: auto;
	border: 3px solid lightgrey;
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 5px;
}
.container div h2{
	font-family: Arial, sans-serif;
	font-size: 16px;
}
.container div p{
	font-family: Arial, sans-serif;
	font-size: 11px;
}

.container div h3{
	font-family: arial, sans-serif;
	font-size: 12px;
}

footer{
	height: 53px;
	width: 100%;
	background-color:black;
	margin-top: 30px;
	margin-bottom: 1px;
}


footer .container p{
	background-color:black;
	color:darkslategrey;
	font-size: 8px;
	padding-top: 15px;
	font-family: Arial, sans-serif;
	font-style: oblique;
}